/*
    Author: Mwayi Kamvantope 
    I know its not best practice to structure code this
    way but there was a lot of experimenting with this project
    and the code below produced the results I wanted to get the
    site up and running.

    The !important property was placed there to override the default
    styling done by bootstrap.
*/

.background-image-container {
	background-image: url("../assets/images/background_imgs/bg_img_2.png");
	background-repeat: no-repeat;
	opacity: .8;
}

p {
	font-weight: bolder;
	color: #000;
}

.about-p p {
	font-weight: 500;
	color: #000 !important;
}

.about-p li {
	font-weight: 700;
}

.button-hover-scale:hover {
	transition: 600ms;
	transform: scale(0.9);
	opacity: 0.8;
	background-color: #de2628 !important;
	border: none;
}

.button-hover-font:hover {
	transition: 600ms;
	font-size: 20px;
	opacity: 0.8;
	color: #de2628 !important;
	border: none;
}

.nav-button {
	transition: 900ms;
	color: #242424;
}

.inner-card a {
	transition: 800ms;
	width: 100%;
}

.profile-pic {
	transition: 800ms;
}

.profile-pic:hover {
	transform: scale(0.9);
}

.text-decor-no li a {
	text-decoration: none;
}

.text-decor-no li a:hover {
	color: #de2628;
}

.text-decor-no li a:visited {
	color: #de2628;
}

.bordered {
	border: 1px solid #000000;
	padding-top: 10px;
}

@media (max-width: 768px) {
	.text-5r {
		font-size: 5rem;
	}

	.tp-4r {
		padding-top: 4rem !important;
	}

	.pd-2r {
		padding: 2rem;
	}
}